.video {
  width: 100%;
  height: 100%;
}

.wrapper {

}

.player {
  width: 62px;
  height: 62px;
  background-color: transparent;
  background-image: url("assets/player.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0;
  position: absolute;
  inset: 0;
  margin: auto;
}