.App {
  background: #000;
  height: 100vh;
  display: grid;
  place-content: center;
}

main {
  aspect-ratio: 9/16;
  border-radius: 3px;
  overflow-y: scroll;
  width: 375px;
  height: auto;
  display: block;
}