.App {
  background: #000;
  height: 100vh;
  display: grid;
  place-content: center;
}

main {
  border: 1px solid #fff;
  aspect-ratio: 9/16;
  border-radius: 3px;
  max-width: 375px;
  width: 100vw;
}