.App {
  background: #000;
  height: 100vh;
  display: grid;
  place-content: center;
  overflow: hidden;
}

main {
  aspect-ratio: 9/16;
  border-radius: 3px;
  display: block;
  height: auto;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}